.content { 
  width: 75%;
}
.content--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header--title {
  color: #526d82;
}
.header--activity {
  display: flex;
  align-items: center;
  gap: 20px;
}
.search-box {
  background: #dde6ed;
  padding: 8px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.search-box input {
  border: none;
  outline: none;
  background: #dde6ed !important;
  border:none !important;
  padding: 5px;
  outline: none;
}

.search-box .icon {
  color: #969393;
  font-size: 22px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.search-box .icon:active {
  color: #5f5e5e;
}

.notify {
  background: #dde6ed;
  padding: 12px;
  border-radius: 10px;
  color: #969393;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;

}

.notify .icon {
  font-size: 20px;

  transition: 0.2s ease-in-out;
}

.icon:hover {
  color: #526d82;
  transform: scale(1.3);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

/*
.content {
  width: 100%; 
  padding: 20px;
  box-sizing: border-box;
}
*/

.menu {
  width: 250px;
}

.menu .item {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #333; /* Default color */
  text-decoration: none;
  /* Other styles */
}

.menu .item.active {
  background-color: #526d82;
  /* Highlight color */
}

.menu .icon {
  margin-right: 10px;
  /* Other styles */
}

.card--container {
  display: flex; /* Keeps the cards in a row */
  gap: 10px; /* Adds spacing between the cards */
  justify-content: space-between; /* Distributes cards evenly across the row */
  align-items: center; /* Aligns the cards vertically in the center */
  margin-top: 2rem;
  width: 100%; /* Ensures the container spans the full width */
}

.card {
  flex: 1; /* Cards will equally share available space */
  max-width: 300px; /* Optional: Sets a max width for each card */
  background: #dde6ed;
  padding: 15px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centers the content inside each card */
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.09);
  cursor: pointer;
}

.card--cover {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  color: #4a5568;
  transition: color 0.3s ease-in-out;
}

.card:hover .card--cover .card-icon {
  color: #145090;
}

/*inner whtie box and the text inside it */
.card--title { 
  background: #ffffffc0;
  width: 80%; /* Reduced width of inner white box */
  text-align: center;
  font-size: 14px;
  color: #526d82;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 0; /* Adjusted padding to reduce height */
}
