.dashboard {
  display: flex;
  gap: 20px;
  height: 100vh;
  overflow: hidden;
}

.dashboard--content {
  background: #fff;
  flex: 1;
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-y: auto;
}

@media (max-width: 1200px) {
  .dashboard {
    flex-direction: column;
  }

  .dashboard--content {
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .dashboard--content {
    padding: 1rem;
  }
}